/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar,
.img-frame,
.img-logo {
  @include center;
}

%logo {
  @include mq($brk-wide) {
    margin-left: initial;
    margin-right: initial;
  }
}

.img-logo {
  @extend %logo;
}

.img-avatar {
    margin-top: 10px;
    max-width: 100%; 
    max-height: 100%;
  }
  
  .img-frame {
    margin-top: 10px;
    max-width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
  }
  

  